@import "./vars.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-light {
  color: white;
}

.modal-animation {
  animation: appear 400ms ease forwards;
}

@keyframes appear {
  from {
    // opacity: 0.4;
    transform: scale(0.1);
  }
  to {
    // opacity: 1;
    transform: scale(1);
  }
}
